# original from Flux as forked
/ble-spec/
/ant-spec/
/fit-spec/
/dist/
/node_modules/
/gists/
/src/simulation-scripts.js
**/.DS_Store
.cache
.parcel-cache/
notes.txt
env.js
package-lock.json

# sensitive
deploy.sh

